<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <ion-list>
    <ion-item>
      <ion-label floating text-left>First Name</ion-label>
      <ion-input text-left type="text" formControlName="firstName" class="first-name-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating text-left>Last Name</ion-label>
      <ion-input text-left type="text" formControlName="lastName" class="last-name-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating text-left>Church Postal Code / Zipcode</ion-label>
      <ion-input type="text" formControlName="churchPostalCode" class="postal-code-church-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating text-left>Email Address</ion-label>
      <ion-input text-left type="email" formControlName="email" class="email-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating text-left>Password</ion-label>
      <ion-input type="password" formControlName="password" class="pass-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating text-left>Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" class="confirm-pass-input"></ion-input>
    </ion-item>
    <p></p>
  </ion-list>
  <div class="space-five"></div>

  <button ion-button full type="submit" class="register-submit">
        Register User
    </button>
</form>